[submodule "clog"]
	path = clog
	url = https://github.com/bharatph/clog
[submodule "tesseract"]
	path = tesseract
	url = https://github.com/tesseract-ocr/tesseract
[submodule "xlsxio"]
	path = xlsxio
	url = https://github.com/brechtsanders/xlsxio
